body{
    text-align: center;
    background-color: blanchedalmond;
}

#upvote{
    background-color: darkgreen;

}
#downvote{
    background-color: brown;
}
button{
    border: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
}
h1{
    color: indigo;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#yes, #no {
    font-size: 50px;
    color: indigo;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.dis, #child {
    font-size: 30px;
    margin: 5px;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
img{
    border-radius: 50px;
    width: 50%;
    height: 50%;
}
.right, .left{
    display: inline-block;
}
